:root {
  --primary-900: rgba(31, 52, 72, 1);
  --primary-800: rgba(49, 73, 96, 1);
  --primary-700: rgba(64, 92, 118, 1);
  --primary-600: rgba(80, 112, 142, 1);
  --primary-500: rgba(94, 126, 159, 1);
  --primary-400: rgba(117, 146, 176, 1);
  --primary-300: rgba(140, 166, 194, 1);
  --primary-200: rgba(170, 192, 216, 1);
  --primary-100: rgba(198, 218, 238, 1);
  --primary-50: rgba(229, 240, 255, 1);
  --navbar-text-font-family: "Roboto", Helvetica;
  --navbar-text-font-weight: 600;
  --navbar-text-font-size: 18px;
  --navbar-text-letter-spacing: 0px;
  --navbar-text-line-height: 24px;
  --navbar-text-font-style: normal;
  --text-normal-font-family: "Roboto", Helvetica;
  --text-normal-font-weight: 400;
  --text-normal-font-size: 32px;
  --text-normal-letter-spacing: 0px;
  --text-normal-line-height: normal;
  --text-normal-font-style: normal;
  --titre-font-family: "Barlow Condensed", Helvetica;
  --titre-font-weight: 500;
  --titre-font-size: 48px;
  --titre-letter-spacing: 0px;
  --titre-line-height: normal;
  --titre-font-style: normal;
  --button-font-giant-font-family: "Inter", Helvetica;
  --button-font-giant-font-weight: 600;
  --button-font-giant-font-size: 18px;
  --button-font-giant-letter-spacing: 0px;
  --button-font-giant-line-height: 24px;
  --button-font-giant-font-style: normal;
}
