.frame {
  background-color: #cdcdcd;
  width: 100%;
  min-width: 16807px;
  min-height: 7875px;
  position: relative;
}

.frame .typography {
  position: absolute;
  top: 288px;
  left: 210px;
  width: 1480px;
  height: 1122px;
}

.frame .shadow {
  position: absolute;
  top: 1178px;
  left: 2129px;
  width: 1440px;
  height: 458px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  background-color: #ffffff;
  border-radius: 24px;
  overflow: hidden;
}

.frame .text-wrapper {
  margin-left: 80px;
  width: 188px;
  height: 58px;
  margin-top: 80px;
  font-family: var(--text-font-h1-font-family);
  font-weight: var(--text-font-h1-font-weight);
  color: #131927;
  font-size: var(--text-font-h1-font-size);
  letter-spacing: var(--text-font-h1-letter-spacing);
  line-height: var(--text-font-h1-line-height);
  white-space: nowrap;
  font-style: var(--text-font-h1-font-style);
}

.frame .shadows {
  display: inline-flex;
  margin-left: 80px;
  width: 1280px;
  height: 160px;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
}

.frame .BG {
  position: relative;
  width: 1280px;
  height: 160px;
  background-color: var(--grey-50);
  border-radius: 12px;
}

.frame .div {
  display: inline-flex;
  align-items: flex-start;
  gap: 64px;
  position: absolute;
  top: 32px;
  left: 32px;
}

.frame .element {
  position: relative;
  width: 98px;
  height: 96px;
}

.frame .element-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 96px;
  height: 96px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: var(--100);
}

.frame .text-wrapper-2 {
  position: absolute;
  top: 36px;
  left: 0;
  width: 96px;
  font-family: var(--text-font-b1-body-font-family);
  font-weight: var(--text-font-b1-body-font-weight);
  color: #131927;
  font-size: var(--text-font-b1-body-font-size);
  text-align: center;
  letter-spacing: var(--text-font-b1-body-letter-spacing);
  line-height: var(--text-font-b1-body-line-height);
  font-style: var(--text-font-b1-body-font-style);
}

.frame .element-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 96px;
  height: 96px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: var(--200);
}

.frame .element-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 96px;
  height: 96px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: var(--300);
}

.frame .element-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 96px;
  height: 96px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: var(--400);
}

.frame .element-6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 96px;
  height: 96px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: var(--500);
}

.frame .element-7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 96px;
  height: 96px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: var(--600);
}

.frame .element-8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 96px;
  height: 96px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: var(--700);
}

.frame .element-9 {
  position: relative;
  width: 98px;
  height: 96px;
  margin-right: -2.00px;
}

.frame .element-10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 96px;
  height: 96px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: var(--800);
}

.frame .input {
  position: absolute;
  top: 1178px;
  left: 6036px;
  width: 1908px;
  height: 1622px;
}

.frame .colors {
  position: absolute;
  top: 1600px;
  left: 210px;
  width: 1480px;
  height: 1740px;
}

.frame .icons {
  position: absolute;
  top: 1903px;
  left: 2129px;
  width: 1480px;
  height: 486px;
  background-color: #ffffff;
  border-radius: 24px;
  overflow: hidden;
}

.frame .text-wrapper-3 {
  position: absolute;
  top: 80px;
  left: 80px;
  font-family: var(--text-font-h1-font-family);
  font-weight: var(--text-font-h1-font-weight);
  color: #131927;
  font-size: var(--text-font-h1-font-size);
  letter-spacing: var(--text-font-h1-letter-spacing);
  line-height: var(--text-font-h1-line-height);
  white-space: nowrap;
  font-style: var(--text-font-h1-font-style);
}

.frame .text-wrapper-4 {
  position: absolute;
  top: 218px;
  left: 80px;
  font-family: var(--text-font-h5-font-family);
  font-weight: var(--text-font-h5-font-weight);
  color: #131927;
  font-size: var(--text-font-h5-font-size);
  letter-spacing: var(--text-font-h5-letter-spacing);
  line-height: var(--text-font-h5-line-height);
  white-space: nowrap;
  font-style: var(--text-font-h5-font-style);
}

.frame .a-high-quality {
  position: absolute;
  top: 262px;
  left: 80px;
  width: 1320px;
  font-family: var(--text-font-b1-body-font-family);
  font-weight: var(--text-font-b1-body-font-weight);
  color: #6d717f;
  font-size: var(--text-font-b1-body-font-size);
  letter-spacing: var(--text-font-b1-body-letter-spacing);
  line-height: var(--text-font-b1-body-line-height);
  font-style: var(--text-font-b1-body-font-style);
}

.frame .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  padding: 14px 20px;
  position: absolute;
  top: 358px;
  left: 80px;
  background-color: var(--primary-600);
  border-radius: 12px;
  overflow: hidden;
}

.frame .text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px 8px;
  position: relative;
  flex: 0 0 auto;
}

.frame .button-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.frame .button-3 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  padding: 14px 20px;
  position: absolute;
  top: 358px;
  left: 251px;
  background-color: var(--grey-900);
  border-radius: 12px;
  overflow: hidden;
}

.frame .img {
  position: absolute;
  top: 1178px;
  left: 9816px;
  width: 1096px;
  height: 791px;
}

.frame .checkbox {
  position: absolute;
  top: 3645px;
  left: 3943px;
  width: 762px;
  height: 642px;
}

.frame .tooltip {
  position: absolute;
  top: 3645px;
  left: 11637px;
  width: 408px;
  height: 574px;
}

.frame .loader {
  position: absolute;
  top: 3645px;
  left: 12445px;
  width: 728px;
  height: 394px;
}

.frame .breadcrumbs {
  position: absolute;
  top: 3645px;
  left: 10229px;
  width: 1008px;
  height: 666px;
}

.frame .avatar {
  position: absolute;
  top: 3645px;
  left: 7527px;
  width: 864px;
  height: 690px;
}

.frame .progress-bar {
  position: absolute;
  top: 3645px;
  left: 8791px;
  width: 1038px;
  height: 670px;
}

.frame .radio {
  position: absolute;
  top: 3652px;
  left: 5105px;
  width: 762px;
  height: 586px;
  background-image: url(./img/radio.png);
  background-size: 100% 100%;
}

.frame .toggle {
  position: absolute;
  top: 3645px;
  left: 6267px;
  width: 860px;
  height: 530px;
}

.frame .pagination {
  position: absolute;
  top: 5497px;
  left: 9464px;
  width: 820px;
  height: 707px;
}

.frame .search {
  position: absolute;
  top: 5497px;
  left: 10601px;
  width: 820px;
  height: 707px;
}

.frame .navigation {
  position: absolute;
  top: 5497px;
  left: 11625px;
  width: 1672px;
  height: 776px;
}

.frame .card {
  position: absolute;
  top: 5497px;
  left: 7885px;
  width: 1338px;
  height: 1760px;
}

.frame .dropdown {
  position: absolute;
  top: 5497px;
  left: 6147px;
  width: 1338px;
  height: 1590px;
}

.frame .image {
  position: absolute;
  top: 5129px;
  left: 11926px;
  width: 461px;
  height: 224px;
  aspect-ratio: 2.06;
  object-fit: cover;
}

.frame .calendar {
  position: absolute;
  top: 4542px;
  left: 6412px;
  width: 1767px;
  height: 840px;
  background-color: #212121;
  border: 1px solid;
  border-color: #16a0f9;
}

.frame .atoms-dey-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  position: absolute;
  top: 64px;
  left: 64px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px dashed;
  border-color: #9647ff;
}

.frame .div-wrapper {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 4px;
}

.frame .text-2 {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-3 {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #16a0f9;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-4 {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #606060;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .weekend-no-active-no {
  border: 1px solid;
  border-color: #606060;
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 4px;
}

.frame .text-5 {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #1170af;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .weekend-yes-active {
  border: 1px solid;
  border-color: #1170af;
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 4px;
}

.frame .text-wrapper-5 {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #000000;
  border-radius: 4px;
}

.frame .text-6 {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .weekend-yes-active-2 {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #16a0f9;
  border-radius: 4px;
}

.frame .atoms-month-namber {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  position: absolute;
  top: 64px;
  left: 464px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px dashed;
  border-color: #9647ff;
}

.frame .text-7 {
  font-family: "Inter-ExtraLight", Helvetica;
  font-weight: 200;
  color: #b3b3b3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-8 {
  font-family: "Inter-ExtraLight", Helvetica;
  font-weight: 200;
  color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .atoms-week-namber {
  left: 624px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  position: absolute;
  top: 64px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px dashed;
  border-color: #9647ff;
}

.frame .text-wrapper-6 {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #333333;
  border-radius: 4px;
}

.frame .atoms-week-dey {
  left: 784px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  position: absolute;
  top: 64px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px dashed;
  border-color: #9647ff;
}

.frame .atoms-mouth {
  left: 944px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  position: absolute;
  top: 64px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px dashed;
  border-color: #9647ff;
}

.frame .text-wrapper-7 {
  display: inline-flex;
  height: 24px;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
}

.frame .text-wrapper-8 {
  background-color: #000000;
  display: inline-flex;
  height: 24px;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
}

.frame .atoms-year {
  left: 1156px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  position: absolute;
  top: 64px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px dashed;
  border-color: #9647ff;
}

.frame .atoms-year-2 {
  display: inline-flex;
  height: 24px;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  position: absolute;
  top: 184px;
  left: 64px;
  background-color: #000000;
  border-radius: 4px;
}

.frame .calendrier {
  position: absolute;
  top: 252px;
  left: 44px;
  width: 1680px;
  height: 544px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px dashed;
  border-color: #8a38f5;
}

.frame .property {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 220px;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
}

.frame .header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 0px 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .img-2 {
  position: relative;
  width: 24px;
  height: 24px;
}

.frame .grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.frame .line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .text-9 {
  margin-left: -0.50px;
  margin-right: -0.50px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #16a0f9;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .property-2 {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 220px;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 304px;
}

.frame .property-3 {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 230px;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 588px;
}

.frame .property-4 {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 220px;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 872px;
}

.frame .property-5 {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 220px;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 1156px;
}

.frame .property-6 {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 220px;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 1440px;
}

.frame .property-7 {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 220px;
  align-items: center;
  position: absolute;
  top: 304px;
  left: 20px;
}

.frame .property-8 {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 220px;
  align-items: center;
  position: absolute;
  top: 304px;
  left: 304px;
}

.frame .property-9 {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 220px;
  align-items: center;
  position: absolute;
  top: 304px;
  left: 588px;
}

.frame .property-10 {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 220px;
  align-items: center;
  position: absolute;
  top: 304px;
  left: 872px;
}

.frame .property-11 {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 220px;
  align-items: center;
  position: absolute;
  top: 304px;
  left: 1156px;
}

.frame .property-12 {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 220px;
  align-items: center;
  position: absolute;
  top: 304px;
  left: 1440px;
}
